In [3]:
import numpy

In [4]:
import pandas as pd

In [5]:
df= pd.read_csv("Y2019Q4.csv", header=0, engine='python')

In [6]:
df=df.rename(index=str, columns={'지역':"SGG","측정소코드":"id","측정소명":"id_name","측정일시":"date","주소":"add"})
df.head()

,SGG,망,id,id_name,date,SO2,CO,O3,NO2,PM10,PM25,add
0,서울 중구,도시대기,111121,중구,2019040101,0.002,0.4,0.037,0.022,27.0,16.0,서울특별시 중구 덕수궁길 15
1,서울 중구,도시대기,111121,중구,2019040102,0.003,0.4,0.037,0.021,25.0,15.0,서울특별시 중구 덕수궁길 15
2,서울 중구,도시대기,111121,중구,2019040103,0.003,0.4,0.041,0.016,23.0,13.0,서울특별시 중구 덕수궁길 15
3,서울 중구,도시대기,111121,중구,2019040104,0.002,0.5,0.030,0.025,22.0,12.0,서울특별시 중구 덕수궁길 15
4,서울 중구,도시대기,111121,중구,2019040105,0.002,0.4,0.032,0.023,23.0,12.0,서울특별시 중구 덕수궁길 15

In [7]:
cols=['SGG','id','date','SO2','CO','PM10','PM25']
df2=df[cols]
df2.tail()

           SGG      id        date     SO2   CO  PM10  PM25
314334  인천 옹진군  831492  2019043020  0.0017  0.2  16.0  12.0
314335  인천 옹진군  831492  2019043021  0.0013  0.2  19.0  10.0
314336  인천 옹진군  831492  2019043022  0.0012  0.2  21.0   9.0
314337  인천 옹진군  831492  2019043023  0.0010  0.2  21.0  15.0
314338  인천 옹진군  831492  2019043024  0.0010  0.2  22.0  11.0

In [8]:
df2.isna().head()

     SGG     id   date    SO2     CO   PM10   PM25
0  False  False  False  False  False  False  False
1  False  False  False  False  False  False  False
2  False  False  False  False  False  False  False
3  False  False  False  False  False  False  False
4  False  False  False  False  False  False  False

In [9]:
df2.isna().sum() #SO2, CO, PM10, PL25에 결측치가 있다.

SGG         0
id          0
date        0
SO2     12825
CO      13450
PM10    11758
PM25    30374
dtype: int64

In [10]:
so2=df2['SO2'].mean()

In [15]:
pd.options.mode.chained_assignment = None

In [17]:
df2['SO2']=df2['SO2'].fillna(df['SO2'].mean()) #SO2의 결측치를 평균으로 채운다.

In [18]:
df2['CO']=df2['CO'].fillna(df['CO'].mean()) #CO의 결측치를 평균으로 채운다.

In [19]:
df2.isna().sum()   #그래서 두 열에 있는 결측치가 없어졌음을 확인했다.

SGG         0
id          0
date        0
SO2         0
CO          0
PM10    11758
PM25    30374
dtype: int64

In [20]:
df2=df2.dropna(how='any') #나머지 결측치가 PM10과 PM25에 있으므로 이들 값을 drop한다.

In [21]:
df2.isna().sum()  #이제 다 없어졌다.

SGG     0
id      0
date    0
SO2     0
CO      0
PM10    0
PM25    0
dtype: int64

In [31]:
s_date=df2.date.astype(str)
s_hour=s_date.str[-2:]    #date를 str 형태로 바꿔서 마지막 두개의 값을 s_hour로 만든다. hour 열을 만들어서 거기에 입력한다.

In [32]:
df2['hour']=s_hour

In [33]:
df2.head()  #hour이 생겼음을 확인할 수 있다.

     SGG      id        date    SO2   CO  PM10  PM25 hour
0  서울 중구  111121  2019040101  0.002  0.4  27.0  16.0   01
1  서울 중구  111121  2019040102  0.003  0.4  25.0  15.0   02
2  서울 중구  111121  2019040103  0.003  0.4  23.0  13.0   03
3  서울 중구  111121  2019040104  0.002  0.5  22.0  12.0   04
4  서울 중구  111121  2019040105  0.002  0.4  23.0  12.0   05

In [41]:
con1=df2.PM25>35
BAD_PM=df2[con1][['SGG','hour']]    #미세먼지 나쁨에 해당하는 시군과 시간대를 BAD_PM에 저장하여 sorting 한다.

In [42]:
BAD_PM_sort=BAD_PM.sort_values(by=['SGG'],ascending=False) #ascending=True(오름차순), False(내림차순)
BAD_PM_sort.head()

           SGG hour
263515  충북 충주시   09
263798  충북 충주시   04
263716  충북 충주시   18
263715  충북 충주시   17
263707  충북 충주시   09

In [47]:
BAD_PM_sort['SGG'].value_counts()  #시군과 시간대 별로 value_counts()를 해서 특별히 미세먼지 나쁨이 나타나는 장소, 시간대가 
                                   #있는지 확인한다. 경기 부천시, 충남 아산시 등의 지역, 오전 8시~오전 11시에 미세먼지가 심한 것으로 보여진다.

경기 부천시        1037
충남 아산시         820
경기 시흥시         623
경기 평택시         615
전북 전주시         606
경기 화성시         602
경기 고양시         554
전북 익산시         515
충북 청주시         496
충남 천안시         493
경기 수원시         466
경기 안산시         435
경남 창원시         407
울산 남구          403
충남 당진시\r\n     393
경기 김포시         366
전북 군산시         359
경기 성남시         354
충북             348
경기 남양주시        307
경기 안양시         288
서울 서초구         268
인천 남구          253
서울 성동구         249
전남 여수시         243
부산 강서구         230
세종 세종시         219
인천 중구          216
서울 영등포구        215
서울 마포구         215
              ...
경남 거창군          33
경남 고성군          31
경남 하동군          31
서울 강북구          31
서울 금천구          30
충남 계룡시          30
경기 양평군          30
경북 경산시          28
경북 영천시          27
경북 영주시          26
경남 함안군          26
대전 동구           26
경남 밀양시          24
경남 사천시          23
강원 속초시          23
경기 가평군          21
경북 경주시          19
강원 양구군          18
전북 무주군          18
강원 동해시          15
경기 하남시          15
강원 삼척시          14
강원 정선군          13
경북 울릉군          12
강원 강릉시          11
강원 고성군           9
충남 논산시           7
경북 안동시           7
강원 양양군           4
경북               2
Name: SGG, Length: 210, dtype: int64

In [45]:
BAD_PM_sort['hour'].value_counts()

10    1980
09    1937
08    1589
11    1568
07    1354
04    1300
06    1297
03    1283
05    1274
02    1247
01    1222
24    1164
12    1132
23    1089
22    1030
13     981
21     900
14     860
15     826
16     773
20     736
17     720
19     712
18     710
Name: hour, dtype: int64